/* Global styles */
body {
    margin: 0;
    padding: 0;
}

/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    padding: 3em;
}

.logo {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Bungee', sans-serif;
    font-size: 2vw;
}

.write-tweet {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-size: large;
    font-family: 'Source Sans 3', sans-serif;
}

.write-text {
    margin-bottom: 10px;
}

@keyframes bounce {

    v0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.bounce-icon {
    animation: bounce 2s infinite;
}

/*Mobile views*/

@media only screen and (max-width: 1024px) {
    nav {
        background-image: url("/images/dimension.png"); background-color: rgb(33, 241, 248);
    }
}